[Unit]
Description=Copy WiFi config from local boot media

Before=network.target

RequiresMountsFor=/run/live/medium/
ConditionPathIsMountPoint=/run/live/medium/

ConditionPathExists=/etc/wpa_supplicant/
ConditionPathExists=/run/live/medium/config/wpa_supplicant/

[Service]
ExecStart=cp -rv /run/live/medium/config/wpa_supplicant/. /etc/wpa_supplicant

[Install]
RequiredBy=network.target
