# NOTE: This is copied from Phosh's .service and changed to run Phoc with the specified user

[Unit]
Description=Phosh, a Wayland compositor

# Make sure we are started after logins are permitted.
After=systemd-user-sessions.service
# If Plymouth is used, we want to start when it is on its way out.
After=plymouth-quit-wait.service

Wants=fix-uinput-perms.service
After=fix-uinput-perms.service

# D-Bus is necessary for contacting logind. Logind is required.
Wants=dbus.socket
After=dbus.socket

# This scope is created by pam_systemd when logging in as the user.
# This directive is a workaround to a systemd bug, where the setup of the
# user session by PAM has some race condition, possibly leading to a failure.
# See Phosh README for more details.
After=session-c1.scope

# Since we are part of the graphical session, make sure we are started before
# it is complete.
Before=graphical.target

# Messy attempt at seamless plymouth integration
Before=plymouth-quit.target

# Prevent starting on systems without virtual consoles
ConditionPathExists=/dev/tty0

[Service]
Environment=LANG=C.UTF-8
Environment=XDG_CURRENT_DESKTOP=GNOME
Environment=XDG_SESSION_DESKTOP=phosh
Environment=XDG_SESSION_TYPE=wayland
# NOTE: graphical-session.target is configured to refuse manual start/stop, so don't try doing that to make this more standalone
ExecStart=/usr/bin/phoc --config /etc/phoc.ini --exec '/bin/systemctl --user start --wait jellyfinmediaplayer.service'
# Force the entire  'jellyfinuser' session to stop when we exit, this should avoid things like the notification daemon sticking around on restart
ExecStop=/bin/systemctl --user exit
TimeoutStartSec=30
User=jellyfinuser
PAMName=login
WorkingDirectory=~
Restart=on-failure
RestartSec=10s

# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Fail to start if not controlling the tty.
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

# Log this user with utmp, letting it show up with commands 'w' and 'who'.
UtmpIdentifier=tty7
UtmpMode=user

[Install]
WantedBy=graphical.target
