[Unit]
Description=flatpak filesystem for generic user-managable apps

[Mount]
What=/dev/disk/by-partlabel/flatpak
Where=/var/lib/flatpak

[Install]
WantedBy=graphical.target
