[Unit]
StopWhenUnneeded=true

[Mount]
# It seems systemd v247 doesn't understand libblkid "LABEL=x" notation?
#What=LABEL=ESP
#What=PARTLABEL=bootstrap2020-jellyfin-ESP
#What=/dev/disk/by-label/ESP
What=/dev/disk/by-partlabel/bootstrap2020-jellyfin-ESP
Where=/boot/efi
Type=vfat
Options=nodev,nosuid,noexec,nofail
DirectoryMode=0

[Install]
WantedBy=local-fs.target
