[Timer]
# I want this to run at 2am, instead of midnight.
# Because it's a lot more likely someone will be watching a movie that finishes at like 3mins past midnight.
# Also for those who have peak/off-peak internet plans, this should hit the off-peak time perfectly.
OnCalendar=*-*-* 02:00:00

# Also when the timer unit starts for systems that are shut down overnight.
# NOTE: This could be an issue if I normally boot it up and start a movie before the RandomizedDelaySec,
#       causing the ExecCondition to fail and it wait until midnight,
#       but then I shutdown overnight and the midnight timer never triggers.
OnActiveSec=0

# Randomise the startup time a little, to avoid conflicting with other things
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
