# If this fails and the zpool is not imported at boot time,
# you can forcefully import the zpool (without mounting it) with this command::
#     zpool import -aNf
#
# Then simply reboot and let the export & reboot process solve the rest.
[Unit]
Description=Export ZFS pools
Documentation=man:zpool(8)
DefaultDependencies=no
Requires=systemd-udev-settle.service
Requires=zfs-load-module.service
After=systemd-udev-settle.service
Requires=zfs-load-module.service
ConditionFileNotEmpty=!/etc/zfs/zpool.cache
ConditionPathIsDirectory=/sys/module/zfs

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/zpool export -a

[Install]
WantedBy=shutdown.target
