[Unit]
Description=dim the lounge room light during media playback
BindsTo=media-playback.target

ConditionHost=persephone

[Service]
Type=oneshot
RemainAfterExit=true

# This depends on a snippet like this being configured in one of the rules of the Tasmota globe::
#     ON Event#Cinema=0 DO Dimmer 100 ENDON ON Event#Cinema>=1 DO Dimmer 33 ENDON
# You can customise dimmer values according to personal preference.
# TODO: Consider setting the value to something like the time of day, then it could set different dimmer values accordingly.
#       The main reason I would want to do such a thing is that I want it less dim when eating lunch, but more dim after dinner.
ExecStart=curl --silent "http://mijofa-lounge-light/cm" --data "cmnd=EVENT cinema=1"
ExecStop=curl  --silent "http://mijofa-lounge-light/cm" --data "cmnd=EVENT cinema=0"

Restart=on-failure

[Install]
WantedBy=media-playback.target
