[Unit]
Description=power off the speakers when audio is muted
BindsTo=audio-muted.target

ConditionHost=persephone

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=curl --silent "http://mijofa-lounge-speakers/cm" --data "cmnd=Power Off"
ExecStop=curl  --silent "http://mijofa-lounge-speakers/cm" --data "cmnd=Power On"

Restart=on-failure

[Install]
WantedBy=audio-muted.target
