[Unit]
Description=power off the speakers when audio is muted
BindsTo=audio-muted.target

ConditionKernelCommandLine=tasmota.audio

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=tasmota_controller.py --power Off audio
ExecStop=tasmota_controller.py  --power On  audio

Restart=on-failure

[Install]
WantedBy=audio-muted.target
