[Unit]
Description=Audible notification of audio muted state
Requires=pulseaudio.service
BindsTo=audio-muted.target
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=true

# NOTE: Theoretically this pisk-down will never be heard as audio will be muted while it plays
ExecStart=pactl play-sample pisk-down
ExecStop=pactl play-sample pisk-up

[Install]
WantedBy=audio-muted.target
