[Unit]
Description=Audible notification of something being toggled
Requires=pulseaudio.service
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=pactl play-sample device-added
ExecStop=pactl play-sample device-removed
