[Unit]
Description=evdev keybindings handler
After=pulseaudio.service jellyfinmediaplayer.service volnotifier.service
PartOf=graphical-session.target

[Service]
# Python3 defaults to quite a large buffer for stdout/stderr.
# This makes the journal significantly less useful for debugging because the log messages don't appear immediately.
Environment=PYTHONUNBUFFERED=LiterallyAnyNonZeroString
ExecStart=/usr/local/bin/keybinds.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
