[Unit]
Description=Sync the PulseAudio volume to snapclient
Wants=pulseaudio.service
After=pulseaudio.service
PartOf=graphical-session.target

[Service]
# Python3 defaults to quite a large buffer for stdout/stderr.
# This makes the journal significantly less useful for debugging because the log messages don't appear immediately.
Environment=PYTHONUNBUFFERED=LiterallyAnyNonZeroString
ExecStart=/usr/local/bin/snapclient-volume-sync.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
