[Unit]
Description=power the speakers when audio is unmuted
Requires=pulseaudio.service
After=pulseaudio.service
PartOf=pulseaudio.service

ConditionKernelCommandLine=tasmota.audio

[Service]
Type=oneshot
RemainAfterExit=true

# Refuse start if audio is muted
# Does not make it *stop* when audio mutes
ExecCondition=sh -c 'systemctl --user is-active audio-muted.target || exit 0 && exit 1'

ExecStart=tasmota_controller.py --power On  audio
ExecStop=tasmota_controller.py  --power Off audio

Restart=on-failure

[Install]
WantedBy=pulseaudio.service
