[Unit]
Description=Audible notification of video output state
Requires=pulseaudio.service
BindsTo=video-output.target
StopWhenUnneeded=true
After=IR-video.service

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=pactl play-sample pisk-up
ExecStop=pactl play-sample pisk-down

[Install]
WantedBy=video-output.target
