[Unit]
Description=Snapcast client
Documentation=man:snapclient(1)
Wants=avahi-daemon.service
After=pulseaudio.service avahi-daemon.service
PartOf=graphical-session.target

[Service]
# This version of snapclient doesn't seem to actually support setting pulse properties on the commandline
Environment=PULSE_PROP="media.role=music"
# FIXME: If avahi is working properly then we shouldn't need SRV records at all
ExecStartPre=/bin/sh -c 'DOMAIN="$(hostname --domain)" ; test -n "$DOMAIN" || DOMAIN="lan" ; systemctl --user set-environment DOMAIN="$DOMAIN"'
ExecStartPre=/bin/sh -c 'systemctl --user set-environment SNAPCAST_HOST=$(/usr/lib/apt/apt-helper srv-lookup "_snapcast._tcp.$DOMAIN" | sort -n -k2,3 | head -1 | cut -f1)'
ExecStartPre=/bin/sh -c 'systemctl --user set-environment SNAPCAST_PORT=$(/usr/lib/apt/apt-helper srv-lookup "_snapcast._tcp.$DOMAIN" | sort -n -k2,3 | head -1 | cut -f4)'
# Snapclient automatically uses the local hostname as the identifier and the MAC address as the UUID,
# so we don't need to roll our own client identifier to last across reboots.
# NOTE: qemu & spice adds a lot of latency, making the actual time syncing hard to test in a VM
ExecStart=/usr/bin/snapclient --logsink=stderr --player pulse:property=media.role=music --host $SNAPCAST_HOST --port $SNAPCAST_PORT
# Upstream says stdout gets "very noisy", I disagree
#StandardOutput=null
Restart=on-failure

[Install]
WantedBy=graphical-session.target
