[Unit]
Description=Background image
# Literally just run it as early as possible, but only after phoc starts
Before=pulseaudio.service
Befpre=jellyfinmediaplayer.service
Befpre=keybinds.service
Befpre=snapclient.service
Befpre=volnotifier.service

BindsTo=graphical-session.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/swaybg --color 000000 --image /usr/share/plymouth/themes/jellyfin/logo.png --mode center
ExecStop=/usr/bin/swaybg --color 000000

[Install]
WantedBy=graphical-session.target
