[Unit]
Description=Jellyfin Media Player
After=pulseaudio.service
# I get the feeling that this maybe shouldn't be bound to graphical-session,
# but it makes the most sense as there's no window manager or anything.
BindsTo=graphical-session.target

[Service]
# Qt defaults to X11 unless told otherwise, and does not fallback on Wayland when that fails
# FIXME: This should be set for the entire session, not just this service
Environment=XDG_SESSION_TYPE=wayland
# Let pulseaudio "cork" other streams properly
Environment=PULSE_PROP="media.role=video"
# NOTE: This script queries SRV records when a URL is not specified on the command line
ExecStartPre=/usr/local/bin/set-jellyfin-server.py
ExecStart=/usr/bin/jellyfinmediaplayer --terminal --tv --fullscreen
# Hide the mouse cursor in the bottom-right
# NOTE: Hardcodes a resolution max of 999999x999999,
#       but if this code is still around when screens that large are mainstream I'd be impressed
ExecStartPost=/bin/sleep 3
ExecStartPost=/usr/bin/ydotool mousemove 999999 999999
Restart=on-failure

[Install]
WantedBy=graphical-session.target
