[Unit]
Description=Apply Persephone's host specific config

Before=graphical.target
Before=phoc.service

ConditionHost=persephone

[Service]
ExecStart=mv /etc/pulse/persephone_match.table /etc/pulse/match.table

[Install]
WantedBy=graphical.target
WantedBy=phoc.service
