[Unit]
Description=Mute the background music during media playback without relying on the snapserver
BindsTo=media-playback.target

# This is just to ensure the local mute happens *quickly*,
# just in case the group corking waits for the server to respond or something.
Before=snapclient-group-cork.service

ConditionHost=persephone

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=snapvol.py --mute true
ExecStop=snapvol.py --mute false

Restart=on-failure

[Install]
WantedBy=media-playback.target
