[Unit]
Description=Equivalent of PulseAudio's "module-role-cork" that stop/starts a systemd target instead
Wants=pulseaudio.service
After=pulseaudio.service snapclient.service steam.service discord.service
PartOf=pulseaudio.service

[Service]
# Python3 defaults to quite a large buffer for stdout/stderr.
# This makes the journal significantly less useful for debugging because the log messages don't appear immediately.
Environment=PYTHONUNBUFFERED=LiterallyAnyNonZeroString
# NOTE: video is the only one that should happen on these SOEs,
#       but I use it on my desktop too and wanted the extra roles without creating an entire separate .service file.
ExecStart=/usr/local/bin/PulseAudio-systemd-roles.py video game phone no_role
Restart=on-failure

# There was a problem with it restarting too quickly.
# I don't know how quickly is "too quickly", but a 3s delay should help.
RestartSec=3

# My hope is that the instability hacks go away once I get the snapserver updated

[Install]
WantedBy=graphical-session.target
