[Unit]
Description=Snapcast client
Documentation=man:snapclient(1)
Wants=avahi-daemon.service
After=pulseaudio.service avahi-daemon.service
PartOf=default.target

[Service]
# This version of snapclient doesn't seem to actually support setting pulse properties on the commandline
Environment=PULSE_PROP="media.role=music"
# Unlike gmediarender, snapclient automatically uses the local hostname as the identifier and the MAC address as the UUID
# FIXME: Shouldn't need to specify the host here if we have avahi-daemon working properly
# NOTE: qemu & spice adds a lot of latency, making this hard to test in a VM
ExecStart=/usr/bin/snapclient --logsink=stderr --player pulse:property=media.role=music --host music
# Upstream says stdout gets "very noisy", I disagree
#StandardOutput=null
Restart=on-failure

[Install]
WantedBy=default.target
