[Unit]
Description=Weston Wayland Compositor
Documentation=man:weston(1) man:weston.ini(5)
Documentation=http://wayland.freedesktop.org/
RequiresMountsFor=/run
BindsTo=graphical.target

[Service]
# NOTE: weston-launch gets in the way of making --modules=systemd-notify.so work
ExecStart=/usr/bin/weston-launch --user frontenduser -- --shell=kiosk-shell.so
Restart=on-failure

[Install]
WantedBy=graphical.target
