[Unit]
Description=gmrender-resurrect service
After=pulseaudio.service goom.service
PartOf=default.target

[Service]
ExecStartPre=/bin/sh -c 'systemctl --user set-environment UPNP_NAME="$(hostname)" UPNP_UUID="$(cat /sys/class/net/e*/address)"'
# In my testing '-18' was exactly 50% volume. I suspect this is mixer hardware specific though, so that may change
ExecStart=/usr/local/bin/gmediarender --friendly-name "$UPNP_NAME" --uuid "$UPNP_UUID" \
                                      --logfile=stdout \
                                      --gstout-initial-volume-db=-18 \
                                      --gstout-audiopipe 'pulsesink stream-properties=props,media.role=video' \
                                      --gstout-videopipe 'waylandsink fullscreen=true'
Restart=on-failure

[Install]
WantedBy=default.target
